/** {
	outline: 1px solid red !important;
}*/
pre {
	background: #f4f4f4;
	border: 1px solid;
	border-left: 3px solid;
	border-radius: 6px;
	color: #666;
	page-break-inside: avoid;
	/*font-family: monospace;*/
	font-size: 15px;
	/*line-height: 1.6;*/
	/*margin-bottom: 1.6em;*/
	max-width: 100%;
	overflow: auto;
	/*padding: 1em 1.5em;*/
	display: block;
	word-wrap: break-word;
}